.card {
    display: flex;
    padding: 0.25rem;
    background: #fff;
    border-radius: 0.6rem;
    box-shadow: 0 1px 0.5rem 0.01rem #000;
    transition: transform 175ms ease-in-out;
    height: 250px;
}

.card {
    & > a {
        width: 100%;
        text-decoration: none;
        line-height: 1.4;
        padding: 1rem 1.3rem;
    }

    & > a {
        & > h2 {
            font-size: 1.25rem;
        }

        & > p {
            margin-top: 0.5rem;
            color: #444;
        }
    }

    &:is(:hover, :focus-within) {
        transform: scale(1.1);
    }
}