* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: #eee;
    overflow-x: hidden;
}

main {
    width: 60vw;
    background: #fff;
    padding: 2rem;
    height:min-content;
    min-height: calc(100vh - 4rem);
}

a {
    color: #2267d5;
}

p {
    text-indent: 2.5rem;
}

img {
    width: calc(100% - 4rem);
}