.card {
    display: flex;
    flex-direction: column;
    width: 5.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    text-decoration: none;
}

.card {
    & > img {
        width: 3rem;
        height: 3rem;
    }

    & > span {
        margin-top: 0.25rem;
        text-align: center;
    }
}