---
import '../styles/index.css';

import Layout from '../layouts/Layout.astro';
import type { Props as CardProps } from '../components/Card.astro';
import Cards from '../components/Cards.astro';

const cards: CardProps[] = [
	{
		title: "Birthday Website Generator",
		href: 'https://commandergl.github.io/birthday/',
		body: "Generate birthday websites for your favorite loved ones!"
	},
	{
		title: "The Red-Tailed Read",
		href: 'https://montclair-reads.github.io/',
		body: "Check out The Montclair Elementary School Newspaper and learn about what's happening at school!"
	},
	{
		title: "csHacks",
		href: 'https://github.com/CrossScarMC/csHacks',
		body: "Learning how Minecraft works by making very simple hacks like flying and xray!"
	},
];
---

<Layout title="Grady Link">
	<main>
		<h1>My Projects:</h1>
		<Cards cards={cards} />
	</main>
</Layout>