---
import '../styles/index.css';

import Layout from '../layouts/Layout.astro';
import type { Props as CardProps } from '../components/Card.astro';
import Cards from '../components/Cards.astro';

const cards: CardProps[] = [
	{
		title: "Birthday Website Generator",
		href: 'https://commandergl.github.io/birthday/',
		body: "Generate birthday websites for your favorite loved ones!"
	},
	{
		title: "Birthday Website Generator",
		href: 'https://commandergl.github.io/birthday/',
		body: "Generate birthday websites for your favorite loved ones!"
	},
	{
		title: "Birthday Website Generator",
		href: 'https://commandergl.github.io/birthday/',
		body: "Generate birthday websites for your favorite loved ones!"
	},
];
---

<Layout title="Grady Link">
	<main>
		<Cards cards={cards} />
	</main>
</Layout>