---
import styles from '../styles/Card.module.css';

export interface Props {
	title: string
	body: string
	href?: string
}

const { href, title, body } = Astro.props;
---

<li class={styles.card}>
	<a href={href != null ? href : '#'} target={href != null ? "_blank" : "_self"}>
		<h2>
			{title}
			{href != null ? <span>&rarr;</span> : ''}
		</h2>
		<p>
			{body}
		</p>
	</a>
</li>